netconf_server_netopeer/wss/wss-gdefs-config.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:wss="http://org/nextworks/qameleon/wss" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"><define name="wss__direction-type"><choice><value>I</value><value>O</value></choice></define><define name="wss___wss-config"><interleave><optional><element name="wss-id"><data type="unsignedInt"/></element></optional><optional><element name="wss-direction"><ref name="wss__direction-type"/></element></optional><optional><element name="wss-number-of-ports"><data type="unsignedInt"/></element></optional><optional><element name="wss-speed"><choice><value>true</value><value>false</value></choice></element></optional><zeroOrMore><element name="wss-ports"><element name="port-id"><data type="unsignedInt"/></element><interleave><optional><element name="port-direction"><ref name="wss__direction-type"/></element></optional><element name="port-frequency-info"><interleave><optional><element name="base-central-frequency"><ref name="wss__frequency-ghz-type"/></element></optional><optional><element name="base-central-frequency-granularity"><ref name="wss__frequency-ghz-type"/></element></optional><optional><element name="central-frequency-slot-granularity"><ref name="wss__frequency-ghz-type"/></element></optional><element name="n"><data type="short"/></element><element name="m"><data type="short"/></element></interleave></element></interleave></element></zeroOrMore></interleave></define><define name="wss__frequency-ghz-type"><data type="decimal"><param name="totalDigits">19</param><param name="fractionDigits">3</param><param name="minInclusive">0</param></data></define></grammar>
