netconf_server_netopeer/tpa/tpa-gdefs-config.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:tpa="http://org/nextworks/qameleon/tpa" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"><define name="tpa__tpa-port-direction-type"><choice><value>I</value><value>O</value></choice></define><define name="tpa__tpa-direction-type"><choice><value>ADD</value><value>DROP</value></choice></define><define name="tpa___tpa-config"><interleave><optional><element name="tpa-id"><data type="unsignedInt"/></element></optional><optional><element name="tpa-direction"><ref name="tpa__tpa-direction-type"/></element></optional><optional><element name="tpa-number-of-inports"><data type="unsignedInt"/></element></optional><optional><element name="tpa-number-of-outports"><data type="unsignedInt"/></element></optional><zeroOrMore><element name="tpa-ports"><element name="port-id"><data type="unsignedInt"/></element><interleave><optional><element name="port-direction"><ref name="tpa__tpa-port-direction-type"/></element></optional><element name="port-frequency-info"><interleave><optional><element name="base-central-frequency"><ref name="tpa__frequency-ghz-type"/></element></optional><optional><element name="base-central-frequency-granularity"><ref name="tpa__frequency-ghz-type"/></element></optional><optional><element name="central-frequency-slot-granularity"><ref name="tpa__frequency-ghz-type"/></element></optional><element name="n"><data type="short"/></element><element name="m"><data type="short"/></element></interleave></element></interleave></element></zeroOrMore></interleave></define><define name="tpa__frequency-ghz-type"><data type="decimal"><param name="totalDigits">19</param><param name="fractionDigits">3</param><param name="minInclusive">0</param></data></define></grammar>
